@import url(https://fonts.googleapis.com/css?family=Monoton|Caveat|);

body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-color: #111;
}

audio {
	display: none;
}

.main_gift {
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: #00bbf9;
    background: linear-gradient(90deg, black, #00bbf9, black);
}

button._tri_btn {
	cursor: pointer;
	padding: 10px;
	font-size: 32px;
    font-family: 'Caveat';
    cursor: pointer;
    text-align: center;
    border: none;
    color: #b30059;
    background: transparent;
	/*background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.5) 70%, transparent);*/
}

.hbd_banner {
	position: absolute;
	top: 0;
	z-index: 1;
	cursor: pointer;
}

.hbd_banner img {
	height: 125px;
}

.bannar-come {
	-webkit-animation: bannar_come linear 6s;
	-webkit-transform: translate(0px, 0px);
	-moz-animation: bannar_come linear 6s;
	-moz-transform: translate(0px, 0px);
	-o-animation: bannar_come linear 6s;
	-o-transform: translate(0px, 0px);
	-ms-animation: bannar_come linear 6s;
	-ms-transform: translate(0px, 0px);
	animation: bannar_come linear 6s;
	transform: translate(0px, 0px);
}

@keyframes bannar_come {
	0% {
		transform: translate(0px, -1000px);
	}

	33% {
		transform: translate(0px, 0px);
		transform: rotate(10deg);
	}

	66% {
		transform: translate(0px, 100px);
		transform: rotate(-10deg);
	}

	100% {
		transform: translate(0px, 0px);
	}

}

.birthdayCard {
	position: relative;
	width: 260px;
	height: 400px;
	cursor: pointer;
	transform-style: preserve-3d;
	transform: perspective(2500px);
	transition: 4s;
}

.birthdayCard:hover {
	transform: perspective(2500px) rotate(5deg);
	box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .15), 0 10px 100px rgba(0, 0, 0, 0.3);
}

.birthdayCard:hover .cardFront {
	transform: rotateY(-160deg);
	background-image: url(bd1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.birthdayCard:hover .front-text {
	display: none;
}

.birthdayCard:hover .wrap-deco {
	display: none;
}

.birthdayCard:hover .wrap-decoTwo {
	display: none;
}

.birthdayCard:hover .plate {
	display: none;
}

.cardFront {
	position: relative;
	background-color: #fff;
	width: 260px;
	height: 400px;
	overflow: hidden;
	transform-origin: left;
	box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .13), 30px 0 50px rgba(0, 0, 0, 0.1);
	transition: .4s;
}

.happy, .toyou {
	position: relative;
	font-family: didot;
	text-align: center;
	backface-visibility: hidden;
	font-size: 30px;
}

.happy {
	top: 198px;
}

.toyou {
	top: 123px;
}

.bday {
	position: relative;
	font-family: arial;
	font-size: 35px;
	text-align: center;
	top: 163px;
}

.wrap-deco {
	position: absolute;
	top: -230px;
	left: -200px;
}

.decorations {
	position: absolute;
	width: 400px;
	height: 300px;
	border: 3px solid #333;
	border-radius: 50%;
}

.decorations:before, .decorations:after, .decorationsTwo:before, .decorationsTwo:after, .decorationsThree:before, .decorationsThree:after {
	content: "";
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	width: 0;
	height: 0;
}

.decorations:before {
	border-top: 40px solid #f15bb5;
	top: 297px;
	left: 210px;
	transform: rotate(-5deg);
}

.decorations:after {
	border-top: 40px solid #f4d35e;
	top: 288px;
	left: 260px;
	transform: rotate(-17deg);
}

.decorationsTwo:before {
	border-top: 40px solid #00f5d4;
	top: 268px;
	left: 315px;
	transform: rotate(-30deg);
}

.decorationsTwo:after, .decorationsThree:after {
	border-top: 40px solid #9b5de5;
	top: 238px;
	left: 355px;
	transform: rotate(-40deg);
}

.wrap-decoTwo {
	transform: scaleX(-1);
	position: absolute;
	top: -230px;
	left: 445px;
}

.decorationsThree:before {
	border-top: 40px solid #00bbf9;
	top: 268px;
	left: 315px;
	transform: rotate(-30deg);
}

.plate {
	position: absolute;
	width: 130px;
	height: 5px;
	background-color: #00bbf9;
	left: 60px;
	top: 213px;
}

.cake {
	position: absolute;
	overflow: hidden;
	width: 100px;
	height: 50px;
	background-color: #f15bb5;
	border-radius: 10px 10px 0 0;
	top: -50px;
	left: 15px;
	box-shadow: inset 0 -15px #f9c74f, inset 0 15px #432818;
}

.cake:before {
	content: "";
	position: absolute;
	background-color: #432818;
	width: 10px;
	height: 20px;
	top: 5px;
	border-radius: 20px;
	box-shadow: 10px 5px #f15bb5, 20px 0px #432818, 30px 2px #f15bb5, 40px 5px #432818, 50px 5px #f15bb5, 60px 0px #432818, 70px 5px #f15bb5, 80px 5px #432818, 90px 5px #f15bb5;
}

.plate:before {
	content: "";
	position: absolute;
	background: repeating-linear-gradient(-45deg, #9b5de5, #9b5de5 3px, #00f5d4 3px, #00f5d4 6px);
	width: 7px;
	height: 25px;
	top: -75px;
	left: 61px;
}

.plate:after {
	content: "";
	position: absolute;
	width: 1px;
	height: 5px;
	background-color: #333;
	top: -80px;
	left: 64px;
}

.flame {
	position: absolute;
	background-color: #fb5607;
	border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
	transform: rotate(-45deg);
	width: 15px;
	height: 15px;
	opacity: 0.7;
	top: -93px;
	left: 57px;
}

.cardInside {
	position: absolute;
	background-color: #fff;
	width: 260px;
	height: 400px;
	z-index: -1;
	left: 0;
	top: 0;
	box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

.inside-text {
	position: relative;
	top: -185px;
	transform: scale(0.7);
}

.wishes {
	position: relative;
	top: -145px;
	margin: 20px;
}

p {

	/*font-family: 'Brush Script MT', cursive;*/
	color: #1e1e1e;
	margin: 10px 0;
}

.name {
	margin-left: 100px;
}

/* Bulb lighting css */
.lighting {
	display: grid;
	place-items: center;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.lighting.lgt1 {
	left: 0;
}

.lighting.lgt2 {
	right: 0;
}

.bulb {
	width: 50px;
	height: 50px;
	margin: auto;
	position: relative;
	background-repeat: no-repeat no-repeat;
	background-position: center 0px;
	background-size: 50px 50px;
}

.bulb._light:after {
	content: " ";
	position: absolute;
	left: 10px;
	top: 25px;
	width: 60%;
	height: 50%;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 6px rgb(255 255 255 / 26%), 0px 0px 20px 10px rgb(255 255 255 / 20%), 0px 10px 15px 5px rgb(255 255 255 / 20%), 0px 0px 10px 1px rgb(210 189 255 / 10%), 0px 0px 10px 10px rgb(255 255 255 / 5%);
}

.bulb-holder {
	height: 100px;
	width: 50px;
	text-align: center;
	display: flex;
}

.bulb-glow-yellow {
	background-image: url('bulb_yellow.png');
	-webkit-animation: bulb_glow_yellow linear 5s;
	-moz-animation: bulb_glow_yellow linear 5s;
	-o-animation: bulb_glow_yellow linear 5s;
	-ms-animation: bulb_glow_yellow linear 5s;
	animation: bulb_glow_yellow linear 5s;
}

@keyframes bulb_glow_yellow {
	0% {
		background-image: url('bulb.png');
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		background-image: url('bulb_yellow.png');
		opacity: 1;
	}

}

.bulb-glow-red {
	background-image: url('bulb_red.png');
	-webkit-animation: bulb_glow_red linear 5s;
	-moz-animation: bulb_glow_red linear 5s;
	-o-animation: bulb_glow_red linear 5s;
	-ms-animation: bulb_glow_red linear 5s;
	animation: bulb_glow_red linear 5s;
}

@keyframes bulb_glow_red {
	0% {
		background-image: url('bulb.png');
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		background-image: url('bulb_red.png');
		opacity: 1;
	}

}

.bulb-glow-blue {
	background-image: url('bulb_blue.png');
	-webkit-animation: bulb_glow_blue linear 5s;
	-moz-animation: bulb_glow_blue linear 5s;
	-o-animation: bulb_glow_blue linear 5s;
	-ms-animation: bulb_glow_blue linear 5s;
	animation: bulb_glow_blue linear 5s;
}

@keyframes bulb_glow_blue {
	0% {
		background-image: url('bulb.png');
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		background-image: url('bulb_blue.png');
		opacity: 1;
	}

}

.bulb-glow-green {
	background-image: url('bulb_green.png');
	-webkit-animation: bulb_glow_green linear 5s;
	-moz-animation: bulb_glow_green linear 5s;
	-o-animation: bulb_glow_green linear 5s;
	-ms-animation: bulb_glow_green linear 5s;
	animation: bulb_glow_green linear 5s;
}

@keyframes bulb_glow_green {
	0% {
		background-image: url('bulb.png');
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		background-image: url('bulb_green.png');
		opacity: 1;
	}

}

.bulb-glow-pink {
	background-image: url('bulb_pink.png');
	-webkit-animation: bulb_glow_pink linear 5s;
	-moz-animation: bulb_glow_pink linear 5s;
	-o-animation: bulb_glow_pink linear 5s;
	-ms-animation: bulb_glow_pink linear 5s;
	animation: bulb_glow_pink linear 5s;
}

@keyframes bulb_glow_pink {
	0% {
		background-image: url('bulb.png');
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		background-image: url('bulb_pink.png');
		opacity: 1;
	}

}

.bulb-glow-orange {
	background-image: url('bulb_orange.png');
	-webkit-animation: bulb_glow_orange linear 5s;
	-moz-animation: bulb_glow_orange linear 5s;
	-o-animation: bulb_glow_orange linear 5s;
	-ms-animation: bulb_glow_orange linear 5s;
	animation: bulb_glow_orange linear 5s;
}

@keyframes bulb_glow_orange {
	0% {
		background-image: url('bulb.png');
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		background-image: url('bulb_orange.png');
		opacity: 1;
	}

}

/*after music*/
.bulb-glow-yellow-after {
	background-image: url('bulb_yellow.png');
	-webkit-animation: bulb_glow_yellow_after linear 1s infinite;
	-moz-animation: bulb_glow_yellow_after linear 1s infinite;
	-o-animation: bulb_glow_yellow_after linear 1s infinite;
	-ms-animation: bulb_glow_yellow_after linear 1s infinite;
	animation: bulb_glow_yellow_after linear 1s infinite;
}

@keyframes bulb_glow_yellow_after {
	0% {
		background-image: url('bulb.png');
	}

	50% {
		background-image: url('bulb_yellow.png');
	}

	100% {
		background-image: url('bulb.png');
	}

}

.bulb-glow-red-after {
	background-image: url('bulb_red.png');
	-webkit-animation: bulb_glow_red_after linear 1.2s infinite;
	-moz-animation: bulb_glow_red_after linear 1.2s infinite;
	-o-animation: bulb_glow_red_after linear 1.2s infinite;
	-ms-animation: bulb_glow_red_after linear 1.2s infinite;
	animation: bulb_glow_red_after linear 1.2s infinite;
}

@keyframes bulb_glow_red_after {
	0% {
		background-image: url('bulb.png');
	}

	50% {
		background-image: url('bulb_red.png');
	}

	100% {
		background-image: url('bulb.png');
	}

}

.bulb-glow-blue-after {
	background-image: url('bulb_blue.png');
	-webkit-animation: bulb_glow_blue_after linear 1.4s infinite;
	-moz-animation: bulb_glow_blue_after linear 1.4s infinite;
	-o-animation: bulb_glow_blue_after linear 1.4s infinite;
	-ms-animation: bulb_glow_blue_after linear 1.4s infinite;
	animation: bulb_glow_blue_after linear 1.4s infinite;
}

@keyframes bulb_glow_blue_after {
	0% {
		background-image: url('bulb.png');
	}

	50% {
		background-image: url('bulb_blue.png');
	}

	100% {
		background-image: url('bulb.png');
	}

}

.bulb-glow-green-after {
	background-image: url('bulb_green.png');
	-webkit-animation: bulb_glow_green_after linear 1.8s infinite;
	-moz-animation: bulb_glow_green_after linear 1.8s infinite;
	-o-animation: bulb_glow_green_after linear 1.8s infinite;
	-ms-animation: bulb_glow_green_after linear 1.8s infinite;
	animation: bulb_glow_green_after linear 1.8s infinite;
}

@keyframes bulb_glow_green_after {
	0% {
		background-image: url('bulb.png');
	}

	50% {
		background-image: url('bulb_green.png');
	}

	100% {
		background-image: url('bulb.png');
	}

}

.bulb-glow-pink-after {
	background-image: url('bulb_pink.png');
	-webkit-animation: bulb_glow_pink_after linear 2s infinite;
	-moz-animation: bulb_glow_pink_after linear 2s infinite;
	-o-animation: bulb_glow_pink_after linear 2s infinite;
	-ms-animation: bulb_glow_pink_after linear 2s infinite;
	animation: bulb_glow_pink_after linear 2s infinite;
}

@keyframes bulb_glow_pink_after {
	0% {
		background-image: url('bulb.png');
	}

	50% {
		background-image: url('bulb_pink.png');
	}

	100% {
		background-image: url('bulb.png');
	}

}

.bulb-glow-orange-after {
	background-image: url('bulb_orange.png');
	-webkit-animation: bulb_glow_orange_after linear 2.2s infinite;
	-moz-animation: bulb_glow_orange_after linear 2.2s infinite;
	-o-animation: bulb_glow_orange_after linear 2.2s infinite;
	-ms-animation: bulb_glow_orange_after linear 2.2s infinite;
	animation: bulb_glow_orange_after linear 2.2s infinite;
}

@keyframes bulb_glow_orange_after {
	0% {
		background-image: url('bulb.png');
	}

	50% {
		background-image: url('bulb_orange.png');
	}

	100% {
		background-image: url('bulb.png');
	}

}

/* starting light  */

._startMsg {
	position: absolute;
	display: grid;
	place-items: center;
	font-family: 'Caveat', Helvetica, Arial, sans-serif;
}

@-webkit-keyframes turnonlights {
	0% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 2px #38eeff;
	}

	1% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 1px #38eeff, 0 0 17px #ff00de, 0 0 38px #ff00de
	}

	4% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 1px #38eeff, 0 0 17px #ff00de, 0 0 38px #ff00de
	}

	7% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 2px #38eeff;
	}

	8% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 1px #38eeff, 0 0 17px #ff00de, 0 0 38px #ff00de
	}

	12% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	22% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	34% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 15px #38eeff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
	}

	36% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	42% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 17px #ff00de, 0 0 38px #ff00de
	}

	55% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 15px #38eeff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
	}

	60% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	63% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 15px #38eeff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
	}

	67% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	84% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 15px #38eeff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
	}

	86% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	96% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 17px #ff00de, 0 0 38px #ff00de
	}

	100% {
		text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9), 10px 0px 50px 
		#b30059, 0 0 10px #38eeff, 0 0 50px #38eeff;
		color: #b30059;
	}

}

@-moz-keyframes turnonlights {
	0% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 2px #38eeff;
	}

	1% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 1px #38eeff, 0 0 17px #ff00de, 0 0 38px #ff00de
	}

	4% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 1px #38eeff, 0 0 17px #ff00de, 0 0 38px #ff00de
	}

	7% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 2px #38eeff;
	}

	8% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 1px #38eeff, 0 0 17px #ff00de, 0 0 38px #ff00de
	}

	12% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	22% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	34% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 15px #38eeff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
	}

	36% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	42% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 17px #ff00de, 0 0 38px #ff00de
	}

	55% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 15px #38eeff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
	}

	60% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	63% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 15px #38eeff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
	}

	67% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	84% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 15px #38eeff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
	}

	86% {
		color: #6d5669;
		text-shadow: 0 0 3px #38eeff, 0 0 5px #38eeff;
	}

	96% {
		color: #ff55de;
		text-shadow: 0 0 5px #38eeff, 0 0 10px #38eeff, 0 0 17px #ff00de, 0 0 38px #ff00de
	}

	100% {
		text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3), 0 0px 15px 
		#b30059, 0 0 10px #38eeff, 0 0 50px #38eeff;
		color: #b30059;
	}

}

.content #switch {
	font-size: 32px;
	font-family: 'Caveat';
	cursor: pointer;
	text-align: center;
	color: #b30059;
}

.content {
	position: center;
}

#lights {
	font-size: 100px;
	text-align: center;
	color: #000;
}

#trav {
	font-family: 'Monoton', cursive;
	-webkit-animation: blink 0.1s infinite alternate;
	-moz-animation: blink 0.1s infinite alternate;
	-o-animation: blink 0.1s infinite alternate;
	animation: blink 0.1s infinite alternate;
}

#fade {
	font-family: 'Monoton', cursive;
	opacity: 0.7;
	-webkit-animation: fade 0.1s infinite reverse;
	-moz-animation: fade 0.1s infinite reverse;
	-o-animation: fade 0.1s infinite reverse;
	animation: fade 0.1s infinite reverse;
}

@-webkit-keyframes blink {
	45% {
		opacity: 0.5;
	}

}

@-o-keyframes blink {
	70% {
		opacity: 0.7;
	}

}

@keyframes blink {
	70% {
		opacity: 0.7;
	}

}

@-moz-keyframes fade {
	40% {
		opacity: 0.8;
	}

	42% {
		opacity: 0.1;
	}

	43% {
		opacity: 0.8;
	}

	45% {
		opacity: 0.1;
	}

	46% {
		opacity: 0.8;
	}

}

@-webkit-keyframes fade {
	40% {
		opacity: 0.8;
	}

	42% {
		opacity: 0.1;
	}

	43% {
		opacity: 0.8;
	}

	45% {
		opacity: 0.1;
	}

	46% {
		opacity: 0.8;
	}

}

@-o-keyframes fade {
	40% {
		opacity: 0.8;
	}

	42% {
		opacity: 0.1;
	}

	43% {
		opacity: 0.8;
	}

	45% {
		opacity: 0.1;
	}

	46% {
		opacity: 0.8;
	}

}

@keyframes fade {
	40% {
		opacity: 0.8;
	}

	42% {
		opacity: 0.1;
	}

	43% {
		opacity: 0.8;
	}

	45% {
		opacity: 0.1;
	}

	46% {
		opacity: 0.8;
	}

}

.animate {
	text-align: center;
	font-family: 'Caveat', Helvetica, Arial, sans-serif;
	font-size: 100px;
	-webkit-animation-name: turnonlights;
	-webkit-animation-duration: 3.0s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: steps(2, start);
	-moz-animation-name: turnonlights;
	-moz-animation-duration: 3.0s;
	-moz-animation-fill-mode: both;
	-moz-animation-timing-function: steps(2, start);
}

@media (max-width: 467px) {
	#lights {
    	font-size: 52px;
	}
}